body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: black;
}

.myApp{
  width: 100%;
  position: relative;
}

.quiz-container {
 position: relative;
 width: 100%;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: auto;
}
img{
  width: 100%;
}

h4 {
  text-align: center;
  font-size:25px ;
}

#question-container {
  margin-bottom: 20px;
}

#question-text {
  font-size: 18px;
  margin-bottom: 10px;
}

p{
  font-size: 25px;
  font-weight: 600;
}


.dialog_margin{
	margin: auto;
  background-color: white;
  color: black;
	padding: 15px 15px 15px 15px;
	border-radius:  5px solid black;
}

#answer-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}
#all_answers{
  display: none;
}

button {
  height: 40px;
  font-size: 16px;
  background-color: #eaeaea;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


#controls-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#timer-container {
  display: flex;
  align-items: center;
}

#timer-text {
  font-size: 14px;
}

#timer {
  font-weight: bold;
  margin-left: 5px;
}