
.container_div{
  width: 100%;
  position: relative;
}

.quiz-container {
 position: relative;
 width: 100%;
  background-color: #fff;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: auto;
  height: 65vh;
  color: black;
}

img{
  width: 100%;
  height: 300px;
}

h4 {
  text-align: center;
  font-size:25px ;
}
h3{
text-align: center;
font-size: 30px;
font-weight: 600;
}

#question-container {
  margin-bottom: 20px;
}

#question-text {
  font-size: 18px;
  margin-bottom: 10px;
}

p{
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  display: none;
  margin-bottom: 20px;
}


.dialog_margin{
	margin: auto;
  background-color: white;
  color: black;
	padding: 15px 15px 15px 15px;
	border-radius:  5px solid black;
}

#answer-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}
#all_answers{
  display: none;
}

#controls-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#timer-container {
  display: flex;
  align-items: center;
}

span{
  display: none;
}

#timer-text, span {
  font-size: 20px;
}

#timer {
  font-weight: bold;
  margin-left: 5px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1.2em;
  font-weight: 600;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}



.right_answer{
  animation: blink 1.0s linear ;
  background-color: rgb(61, 241, 148); 
}


.wrong_answer{
  animation: blink 1.5s linear ;
  background-color: red; 
}


@keyframes blink {
  25% { 
 opacity: 0.5;
  }

  50% { 
    opacity: 0;
     }

     
  75% {
    opacity: 0.5;
  }
}


@media screen and (min-width: 1000px) {
  .quiz-container{
    width: 50%;
    height: 600px;
  }
  p,span{
    font-size: 65px;
  
  }
  
}